langchain==0.0.354
langchain-community==0.0.20

chromadb==0.4.22
ctransformers==0.2.27

InstructorEmbedding==1.0.1
sentence-transformers==2.2.2


torch==2.1.2

transformers==4.35.2
huggingface-hub==0.20.3

pypdfium2==4.24.0
librosa==0.10.1
PyYAML==6.0.1

streamlit==1.29.0
streamlit-mic-recorder==0.0.4